/*= normalize.css */



/* FONTS
====================================================================== */

@font-face {
  font-family: "Roboto";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: local("Roboto Light"), local("Roboto-Light"),
      url("../fonts/RobotoLight.woff2") format("woff2"),
      url("../fonts/RobotoLight.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local("Roboto Regular"), local("Roboto-Regular"),
      url("../fonts/RobotoRegular.woff2") format("woff2"),
      url("../fonts/RobotoRegular.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: local("Roboto Bold"), local("Roboto-Bold"),
      url("../fonts/RobotoBold.woff2") format("woff2"),
      url("../fonts/RobotoBold.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  src: local("Roboto Black"), local("Roboto-Black"),
      url("../fonts/RobotoBlack.woff2") format("woff2"),
      url("../fonts/RobotoBlack.woff") format("woff");
}

@font-face {
  font-family: 'Roboto Condensed';
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: local('Roboto Condensed Light'), local('RobotoCondensed-Light'),
  url('RobotoCondensedLight.woff2') format('woff2'),
  url('RobotoCondensedLight.woff') format('woff');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-weight: 300;
  font-style: italic;
  font-display: swap;
  src: local('Roboto Condensed Light Italic'), local('RobotoCondensed-LightItalic'),
  url('RobotoCondensedLightItalic.woff2') format('woff2'),
  url('RobotoCondensedLightItalic.woff') format('woff');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local('Roboto Condensed'), local('RobotoCondensed-Regular'),
  url('RobotoCondensed.woff2') format('woff2'),
  url('RobotoCondensed.woff') format('woff');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: local('Roboto Condensed Italic'), local('RobotoCondensed-Italic'),
  url('RobotoCondensedItalic.woff2') format('woff2'),
  url('RobotoCondensedItalic.woff') format('woff');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: local('Roboto Condensed Bold'), local('RobotoCondensed-Bold'),
  url('RobotoCondensedBold.woff2') format('woff2'),
  url('RobotoCondensedBold.woff') format('woff');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src: local('Roboto Condensed Bold Italic'), local('RobotoCondensed-BoldItalic'),
  url('RobotoCondensedBoldItalic.woff2') format('woff2'),
  url('RobotoCondensedBoldItalic.woff') format('woff');
}

/* GLOBAL
====================================================================== */

*,
*::before, *:before,
*::after, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  min-height: 100vh;
  max-width: 1500px;
  margin: auto;
  padding: 0;

  font: normal 400 12px/1.1 "Roboto Condensed", "Helvetica", sans-serif;
  color: #333333;

  background-color: #fff;
}

b, strong {
  font-weight: 700;
}

img {
  max-width: 100%;
  height: auto;
}

.hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;
  border: 0;

  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
}

.list-reset {
  margin: 0;
  padding: 0;

  list-style: none;
}

.btn-reset {
  display: inline-block;
  padding: 0;

  font: inherit;
  color: currentColor;
  text-transform: inherit;
  vertical-align: baseline;

  background-color: transparent;
  border: 0;

  cursor: pointer;
}

.btn-reset:disabled {
  opacity: 0.25;
  cursor: default;
}

/* Btn-toggle
============================================================ */

.btn-toggle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 125px;
  height: 120px;
}

.nojs .btn-toggle {
  display: none;
}

.btn-toggle::before,
.btn-toggle::after {
  content: "";

  display: block;
  width: 37px;
  height: 3px;

  border-top: 3px solid #ffffff;

  transform: rotate(45deg);
  transition: 0.6s;
}

.btn-toggle::after {
  margin-top: -3px;

  transform: rotate(-45deg);
}

.btn-toggle--closed::before {
  height: 7px;
}

.btn-toggle--closed::after {
  height: 10px;
  margin-top: 0;

  border-bottom: 3px solid #e9eae2;
}

.btn-toggle--closed::before,
.btn-toggle--closed::after {
  border-color: #e9eae2;

  transform: none;
}

/* Btn-close
============================================================ */

.btn-close {
  position: relative;

  width: 100px;
  height: 100px;

  border: 1px solid #000000;
}

.btn-close::before,
.btn-close::after {
  content: "";

  position: absolute;
  left: 50%;
  top: 50%;

  width: 25px;
  height: 0;
  margin-left: -12px;

  border-bottom: 1px solid #000000;

  transform: rotate(45deg);
  transition: 0.6s;
}

.btn-close::after {
  transform: rotate(-45deg);
}

/* Btn-arrow
============================================================ */

.btn-arrow--next {
  transform: rotate(180deg);
}

/* Page-header
============================================================ */

.page-header {
  background-color: #e9eae2;
}

.page-header__column-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;

  background: url("../img/page-header-back.jpg") 100% 50% no-repeat;
  background-size: contain;
}

.page-header__social {
  max-width: 162px;
  margin-top: 30px;
}

.page-header__column-right {
  padding: 30px;

  color: #ffffff;
  background-color: #7acec3;
}

.page-header__nav {
  margin: auto;
}

.page-header__address {
  margin-top: 50px;
}

.page-header__address .address__link {
  margin-left: 40px;

  color: #ffffff;
}

.page-header__address .address__link:hover,
.page-header__address .address__link:focus {
  color: #000000;
}

.page-header__address .address__link:first-of-type {
  margin-top: 30px;
}

/* Logo
============================================================ */

.logo {
  display: inline-block;

  font-size: 18px;
  line-height: 1;
  text-transform: uppercase;
  text-decoration: none;
}

/* Social
============================================================ */

.social {
  display: flex;
  justify-content: center;
}

.social--page-header {
  height: 24px;
}

.social--staffer {
  height: 14px;
}

.social--share {
  height: 24px;
}

.social--page-header svg > * {
  fill: #7acec3;
}

.social--staffer svg > * {
  fill: #fd5000;
}

.social--share svg > * {
  fill: #000;
}

.social__item {
  display: flex;
  align-items: flex-end;
  height: 100%;
}

.social__item:not(:first-child) {
  margin-left: 10px;
}

.social--share .social__item:not(:first-child) {
  margin-left: 25px;
}

.social--staffer .social__item:not(:first-child) {
  margin-left: 15px;
}

.social__link {
  display: block;

  width: 100%;
  height: 100%;
}

/* Site-nav
============================================================ */

.site-nav {
  display: flex;

  background-color: #f8c255;
}

.site-nav--closed {
  justify-content: center;
  align-items: center;
  width: 125px;
  height: 120px;

  background-color: #7acec3;
  box-shadow: inset 0 0 0 3px #e9eae2;
}

.site-nav__toggle {
  flex-shrink: 0;
}

.site-nav__list {
  flex-grow: 1;
  order: -1;
  display: flex;
  flex-wrap: wrap;
}

.site-nav--closed .site-nav__list {
  display: none;
}

.site-nav__item {
  width: 100%;

  text-align: center;
}

.site-nav__link {
  display: block;
  padding: 35px;

  font-size: 14px;
  line-height: 1;
  font-family: "Roboto", "Helvetica", sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
}

.site-nav__link:hover,
.site-nav__link:focus,
.site-nav__link--active {
  color: #000000;

  background-color: #ebb240;
}

/* Address
============================================================ */

.address {
  font-size: 13px;
  line-height: 1.1;
  font-style: normal;
  text-transform: uppercase;
}

.address__link {
  display: block;
  clear: both;

  font-size: 13px;
  font-style: normal;
  color: #333333;
  text-transform: uppercase;
  text-decoration: none;
}

.address__link:hover,
.address__link:focus {
  color: #ebb240;
}

.address__link:first-of-type {
  margin-top: 15px;
}

/* Page-section
============================================================ */

.page-section {
  background-color: #e9eae2;
}

.page-section__head {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 200px;
  padding: 30px;

  background-color: #ebb240;
  background-image: linear-gradient(to bottom right, transparent 49.6%, #fbf1dd, transparent 50%);
}

.projects .page-section__head {
  justify-content: space-between;
}

.studio .page-section__head {
  background-color: #ff9b6d;
}

.news-feed .page-section__head {
  background-color: #d4edbf;
}

.page-section__title {
  margin: 0;
  padding: 30px 0 0;

  font-weight: 400;
  font-size: 48px;
  line-height: 1;
  color: #ffffff;
  text-transform: uppercase;
  text-align: right;
}

.page-section__content {
  padding: 30px;
}

.page-section__foot {
  min-height: 200px;
  padding: 30px;

  background-color: #ebb240;
  background-image: linear-gradient(to bottom right, transparent 49.6%, #fbf1dd, transparent 50%);
}

.page-section__foot-title {
  margin: 0 0 5px;
  padding-left: 29px;

  font-weight: 300;
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;
}

/* Projects
============================================================ */

.projects {
  background-color: #fefefe;
}

.projects__menu-link {
  padding-left: 29px;

  font-size: 13px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
}

.projects__menu-link--active,
.projects__menu-link:hover,
.projects__menu-link:focus {
  color: #000000;

  background: url("../img/icon-arrow-white.svg") 0 50% no-repeat;
}

/* Project
============================================================ */

.project {
  position: relative;

  font-weight: 300;
  background-color: #ffffff;
}

.project--potter {
  background-color: #dfe0d9;
}

.project--tabano {
  background-color: #f7f7f3;
}

.project--louis {
  background-color: #576b76;
  background-image: radial-gradient(ellipse 290px 200px at right 0 bottom 220px,#7a8694 33%,#72818d 50%,#667884,transparent),
                    linear-gradient(-45deg,#63747d 50%,#576b76);
}

.project--louis,
.project--louis a {
  color: #fefefe;
}

.project--395-396-P22 {
  background-color: #eaeaea;
}

.project--sesann {
  background-color: #fcfcfc;
}

.project--alessi {
  background-color: #cecece;
}

.project__content {
  position: relative;
  z-index: 1;

  display: flex;
  flex-direction: column;
  padding: 30px;
}

.project__title {
  margin: 0;

  font-weight: 300;
  font-size: 24px;
  line-height: 1;
  text-transform: uppercase;
}

.project__inner {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 12px;
}

.project__info {
  display: block;
  margin: 0;

  text-transform: uppercase;
}

.project__option {
  float: left;
  clear: left;
  margin-right: 3px;

  font-weight: 700;
}

.project__value {
  float: left;
  margin-left: 0;
}

.project__desc {
  margin-top: 30px;
}

.project__text {
  margin: 10px 0 0;
}

.project__text:first-child {
  margin-top: 0;
}

.project__column {
  display: flex;
  flex-direction: column;
}

.project__more {
  margin-top: 20px;
  padding-left: 29px;

  font-weight: 300;
  font-size: 18px;
  line-height: 1;
  color: #333333;
  text-transform: uppercase;
  text-decoration: none;

  background: url("../img/icon-arrow-yellow.svg") 0 50% no-repeat;
}

.project__more:hover,
.project__more:focus {
  color: #ebb240;
}

.project__like {
  margin-top: 20px;
}

.project__img {
  display: block;
  margin: auto;
  padding: 5px;

  text-align: center;
}

.project--fondue .project__img {
  padding-top: 0;
  padding-bottom: 0;
}

.project--louis .project__img {
  margin-right: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;

  text-align: right;
}

.project--alessi .project__img {
  margin-left: 0;
  padding-left: 0;

  text-align: left;
}

/* Popup-project
============================================================ */

.popup-project {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;

  display: none;
  width: 100%;
  height: 100vh;
  overflow-y: auto;

  background-color: #ffffff;
}

.popup-project:target {
  display: block;
}

/* Project--full
============================================================ */

.project--full {
  padding: 30px;
}

.project__close {
  display: block;
  margin-left: auto;
}

.project--full .project__content {
  justify-content: center;
  padding: 0;
  margin: 30px 0;
}

.project--full .project__title {
  font-size: 30px;
}

.project--full .project__inner {
  flex-grow: 0;
}

.project--full .project__info {
  font-size: 14px;
}

.project--full .project__text {
  font-weight: 300;
  font-size: 14px;
}

.project__gallery {
  margin: 30px auto 0;
}

.project__social  {
  margin: 30px auto;
}

/* Gallery
============================================================ */

.gallery__nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery__arrow:first-of-type {
  margin-right: 15px;
}

.gallery__arrow:last-of-type {
  margin-left: 15px;
}

.gallery__item:not(:first-of-type) {
  margin-left: 10px;
}

.gallery__img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px auto 0;
}

/* Like
============================================================ */

.like__value {
  display: block;
  margin-top: 5px;

  font-weight: 300;
  font-size: 11px;
  line-height: 1;
  color: #ff0000;
  text-transform: uppercase;
}

.like__icon--white {
  fill: #fefefe;
}

.like:hover .like__icon,
.like:focus .like__icon {
  fill: #ff0000;
}

/* Studio
============================================================ */

.studio {
  background-color: #e9eae2;
}

.studio__text {
  margin: 10px 0 0;

  font-weight: 300;
  font-size: 18px;
}

.studio__text:first-of-type {
  margin: 0;
}

.studio__text strong {
  font-style: italic;
}

.studio__img {
  display: block;
  margin: 30px auto 0;
}

.studio__awards {
  margin-top: 30px;
}

.studio__subtitle {
  margin: 0;

  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;

  border-bottom: 1px solid #bfc0b9;
}

.studio__list {
  margin-top: 20px;

  column-count: 2;
  column-gap: 30px;
}

.studio__item {
  text-transform: uppercase;
}

.studio__stuff {
  padding: 10px 30px 30px;
}

/* Stuff
============================================================ */

.stuff__text {
  margin: 15px 0 0;

  font-weight: 300;
  font-size: 14px;
  line-height: 1.3;
}

.stuff__title {
  margin: 0;

  font-weight: 400;
  text-transform: uppercase;
}

.stuff__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  grid-gap: 30px;
  justify-content: center;
  justify-items: center;
  margin-top: 30px;
}

/* Staffer
============================================================ */

.staffer__img {
  display: block;
}

.staffer__name {
  margin: 15px 0 0;

  font-weight: 700;
  font-size: 13px;
  text-transform: uppercase;
}

.staffer__position {
  text-transform: uppercase;
}

.staffer__more {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.staffer__cv {
  display: flex;
  align-items: center;
  padding-right: 26px;

  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;
  text-decoration: none;
  color: #fd5000;

  background: url("../img/icon-arrow-orange.svg") 100% 50% no-repeat;
}

.staffer__cv:hover,
.staffer__cv:focus {
  color: #000000;
}

/* News-feed
============================================================ */

.news-feed {
  background-color: #e5e9df;
}

/* News
============================================================ */

.news {
  display: flex;
  flex-direction: column;
}

.news:not(:first-child) {
  margin-top: 30px;
}

.news__title {
  margin: 0;
  min-height:48px;

  font-weight: 700;
  font-size: 24px;
  line-height: 1;
  text-transform: uppercase;
}

.news__date {
  margin-top: 5px;

  line-height: 1;
  text-transform: uppercase;
  color: #6a6969;
}

.news__img {
  margin: 18px auto 0;

  background-color: #6a6969;
}

.news__text {
  margin: 20px 0 10px;

  color: #6a6969;
}

.news__more {
  margin-top: auto;

  line-height: 1;
  text-transform: uppercase;
  text-decoration: none;
  text-align: right;
  color: #fd5000;
}

.news__more:hover,
.news__more:focus {
  color: #000000;
}

/* Page-footer
============================================================ */

.page-footer {
  background-color: #e9eae2;
}

.page-footer__map {
  position: relative;

  min-height: 270px;
  overflow: hidden;
}

.page-footer__map-img {
  display: block;
  height: 100%;
}

.page-footer__map-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.page-footer__map-iframe {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  border: none;
}

.page-footer__column {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  padding: 30px;
}

.page-footer__address {
  margin-bottom: 30px;
  margin-right: 30px;
}

.page-footer__copyright {
  width: 100%;
  margin: 30px 0 0;

  color: #191919;
}

.page-footer__link {
  text-decoration: none;
  color: inherit;
}

/* Internet Explorer
====================================================================== */

@media (-ms-high-contrast: active),
       (-ms-high-contrast: none) {

  /* Stuff
  ============================================================ */

  .stuff__grid {
    display: grid;
    grid-template-columns: 270px;
    grid-template-rows: auto 30px auto 30px auto;
  }

  .stuff__grid >*:nth-child(2) {
    grid-row: 3;
  }

  .stuff__grid >*:nth-child(3) {
    grid-row: 5;
  }

  .stuff__item {
    grid-column-align: center;
    max-width: 270px;
  }

}



/*= style-tablet.css */



/*= style-desktop.css */
