/* 1200px
====================================================================== */

@media (min-width: 1200px) {

  /* Page-header
  ============================================================ */

  .page-header {
    min-height: 500px;
  }

  .page-header__column-left {
    width: 69%;
    padding: 50px 5% 50px 11%;

    background-size: auto;
    background-position: right 15% top 100%;
  }

  .page-header__column-right {
    width: 31%;
    padding: 50px;

    background-image: linear-gradient(to bottom right,transparent 49.6%,#fbf1dd,transparent 50%);
  }

  .page-header__address {
    margin-top: 90px;
    margin-left: 2.7%;
  }

  .page-header__address .address__link {
    margin-left: 22%;
  }

  .page-header__address .address__link:first-of-type {
    margin-top: 40px;
  }

  .page-header__social {
    margin-top: 60px;
  }

  /* Site-nav
  ============================================================ */

  .site-nav {
    position: relative;
    right: 50%;

    margin-left: -200%;

    transform: translateX(calc(50px + 30px / 2));
  }

  .site-nav--closed {
    position: static;
    right: auto;

    margin: auto;

    transform: none;
  }

  .site-nav__list {
    flex-wrap: nowrap;
  }

  .site-nav__item {
      width: auto;
  }

  .site-nav__item:first-child .site-nav__link {
    padding-left: 50px;
  }

  .site-nav__item:last-child .site-nav__link {
    padding-right: 50px;
  }

  .site-nav__link {
    padding: 53px;
  }

  .site-nav__toggle {
    margin: calc(120px / 2 - 30px / 2) 43px;
  }

  /* Page-section
  ============================================================ */

  .page-section__head {
    width: 31%;
    min-height: 500px;
    padding-left: 0;
  }

  .projects .page-section__head {
    grid-area: head;
  }

  .page-section__head .projects__menu {
    margin-left: 31%;
  }

  .page-section__title {
    padding: 130px 0 0 48%;

    text-align: left;
  }

  .projects .page-section__title {
    padding-top: 65px;
  }

  .page-section__content {
    width: 69%;
    max-width: 900px;
    padding-left: 6.66%;
  }

  .projects .page-section__foot {
    grid-area: foot;
    padding: 60px 15%;
  }

  /* Projects
  ============================================================ */

  .projects {
    position: relative;

    grid-template-columns: 20%/*300px*/ 11%/*165px*/ auto 20%/*300px*/ 31%/*465px*/;
    grid-template-rows: minmax(250px, auto) minmax(250px, auto) minmax(215px, auto) minmax(250px, auto) minmax(300px, auto);
    grid-gap: 0;
    grid-template-areas: "head head fondue fondue potter"
                         "head head fondue fondue tabano"
                         "louis p22 p22 p22 tabano"
                         "louis p22 p22 p22 fiji"
                         "sesann sesann sesann alessi foot";
  }

  /* Popup-project
  ============================================================ */

  .popup-project {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1000;

    height: 100%;
  }

  /* Project
  ============================================================ */

  .project--full {
    display: flex;
    align-items: center;
    height: 100%;
    padding: calc(175px + 30px) 17.66%;
  }

  .project--fondue {
    grid-area: fondue;
  }

  .project--potter {
    grid-area: potter;
  }

  .project--tabano {
    grid-area: tabano;
  }

  .project--louis {
    grid-area: louis;

    background-image: radial-gradient(ellipse 275px 270px at right 0 bottom 180px, #7a8694 99px, #72818d 150px, #667884, transparent),
                      linear-gradient(-45deg, #63747d 50%, #576b76);
  }

  .project--395-396-P22 {
    grid-area: p22;
  }

  .project--fiji {
    grid-area: fiji;
  }

  .project--sesann {
    grid-area: sesann;
  }

  .project--alessi {
    grid-area: alessi;
  }

  .project__close {
    position: absolute;
    top: 75px;
    right: 17.66%;
  }

  .project .project__content {
    width: 100%;
  }

  .project--full .project__content {
    margin: 0;
  }

  .project--fondue .project__content {
    padding: 85px 35% 70px 17.5%;
  }

  .project--potter .project__content {
    padding: 33px 52% 25px 9%;
  }

  .project--tabano .project__content {
    margin: auto 0 0;
    padding: 0 12.9% 40px;
  }

  .project--louis .project__content {
    padding: 40px 25% 210px 10%;
  }

  .project--395-396-P22 .project__content {
    padding: 90px 8.8% 90px 48%;
  }

  .project--fiji .project__content {
    padding: 45px 12% 20px 51%;
  }

  .project--sesann .project__content {
    padding: 0 20% 20px;
  }

  .project--alessi .project__content {
    padding: 75px 3% 30px 50%;
  }

  .project__inner > *:not(:first-child) {
    margin-top: auto;
  }

  .project__inner--row {
    flex-direction: row;
    align-items: flex-start;
  }

  .project__inner--row > *:not(:first-child) {
    margin-top: 0;
  }

  .project--full .project__desc {
    margin-top: 40px;
  }

  .project__column > *:first-child {
    margin-top: 0;
  }

  .project .project__img {
    position: absolute;
    right: 5px;
    bottom: 50%;
    z-index: 0;

    width: 100%;
    padding: 0;

    transform: translateY(50%);
  }

  .project--fondue .project__img {
    right: 5.3%;
  }

  .project--potter .project__img {
    right: 8%;

    max-width: 45%;
  }

  .project--tabano .project__img {
    top: 25px;
    bottom: auto;
    right: 50%;

    text-align: center;

    transform: translateX(50%);
  }

  .project--louis .project__img {
    right: 0;
    bottom: 0;

    transform: none;
  }

  .project--395-396-P22 .project__img {
    left: 15%;
    right: auto;

    max-width: 56%;
  }

  .project--fiji .project__img {
    left: 6%;
    right: auto;

    max-width: 40%;
  }

  .project--sesann .project__img {
    top: 20px;
    bottom: auto;
    right: 50%;

    max-width: 90%;

    transform: translateX(50%);
  }

  .project--alessi .project__img {
    left: 0;
    right: auto;

    max-width: 49%;
  }

  .project__social {
    margin-bottom: 0;
  }

  .project--full .project__gallery {
    margin: 55px auto 85px;
  }

  /* Stuff
  ============================================================ */

  .stuff {
    padding: 60px 0 90px;
  }

  .stuff__text-wrap {
    width: 31%;
    max-width: 330px;
    margin-left: auto;
  }

  .stuff__grid {
    width: 69%;
  }

  /* Page-footer
  ============================================================ */

  .page-footer__map {
    min-height: 644px;
  }

  .page-footer__inner {
    align-content: flex-end;
    width: 39%;
    padding: 0 0 55px 6.66%;
  }

  .page-footer__copyright {
    margin: 80px 0 0;
  }

}
